blake3
boto3
elasticsearch==7.17.7
enum34
Flask
flask-login
flask_restx
geopy
fuzzywuzzy[speedup]
jellyfish
networkx
nltk
pandas==1.5.3
numpy==1.26.4
psycopg2-binary
pyyaml
rauth
redisearch
scikit-learn[alldeps]
simplejson
smart-open==4.2.0
sqlalchemy
tslib
typing
Werkzeug==3.0.6
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
