version: '2'

services:
  elasticsearch:
    build:
      context: ${BACKEND}
      args:
        proxy: ${https_proxy}
      dockerfile: ${DC_DIR}/Dockerfile_elasticsearch_phonetic
    image: elasticsearch_phonetic
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      # - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms3072m -Xmx3072m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 6g
    volumes:
      - ${BACKEND}/esdata/node:/usr/share/elasticsearch/data

networks:
  default:
    external:
      name: matchid
      